:root{
	--brown: #4F2E2D;
	--yellow: #EDAD53;
	--beige: #F4E6CD;
	--red: #EE5242;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	color: #333;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: var(--red);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: var(--brown);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: var(--beige);
	background-color: var(--red);
	border: none;
	border-radius: 5px;
	outline: none;
}

button:disabled {
	background-color: var(--yellow) !important;
	color: var(--beige) !important;
	text-decoration:line-through;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus, button:hover{
	background-color: var(--yellow);
	color: var(--red);
}


